@charset "UTF-8";

/*
 * Copyright 2011-2016, The Thymeleaf Project (http://www.thymeleaf.org/)
 *
 * Licenciado bajo la Licencia Apache, Versión 2.0 (la "Licencia");
 * No puede usar este archivo excepto de conformidad con la Licencia.
 * Puede obtener una copia de la Licencia en
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Salvo que lo exija la legislación aplicable o se acuerde por escrito, el software
 * distribuido bajo la Licencia se distribuye "TAL CUAL",
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Consulte la Licencia para conocer el idioma específico que rige los permisos y las
 * limitaciones de la Licencia.
 */

/**
 * Estilos del artículo
 */

.article {
	counter-reset: heading;
}

.article-author {
	margin-bottom: 2em;
	font-style: italic;
	color: #aaaaaa;
}

h2 {
	counter-reset: subheading;
}

h2::before {
	counter-increment: heading;
	content: counter(heading) ". ";
}

h3::before {
	counter-increment: subheading;
	content: counter(heading) "." counter(subheading) ". "
}
