@charset "UTF-8";

/*
 * Copyright 2011-2016, The Thymeleaf Project (http://www.thymeleaf.org/)
 *
 * Licenciado bajo la Licencia Apache, Versión 2.0 (la "Licencia");
 * No puede usar este archivo excepto de conformidad con la Licencia.
 * Puede obtener una copia de la Licencia en
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Salvo que lo exija la legislación aplicable o se acuerde por escrito, el software
 * distribuido bajo la Licencia se distribuye "TAL CUAL",
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Consulte la Licencia para conocer el idioma específico que rige los permisos y las
 * limitaciones de la Licencia.
 */

/**
 * Estilos de tutorial para formularios de pantalla (HTML) e impresión (PDF)
 */

/* SELECTORES DE ELEMENTOS */
/* ========================================================================== */

h2 {
	margin-top: 0.5em;	/* Restablece lo que se hizo en el CSS principal por alguna razón */
	margin-left: -2em;
	padding-left: 2em;
}

section:last-child {
	margin-bottom: 0;
}

section.level1 {
	padding: 0.5em 1em 1em 0.75em;
}

@media (min-width: 75rem) {
	section.level1 {
		padding: 0.5em 2em 2em;
	}
}


/* COMPONENTES */
/* ========================================================================== */

@media (min-width: 43.75rem) {
	.toolbar-container {
		border-bottom: none;
	}
}

.title-container {
	margin-bottom: 3em;
}

@media (min-width: 43.75rem) {
	.title-container {
		margin-bottom: 5em;
	}
}

.tutorial-title {
	text-align: center;
}

.tutorial-metadata {
	font-size: 0.8em;
	margin: 0 auto;
	max-width: 23rem;
	padding: 0 1em;
}

.tutorial-metadata-label {
	font-weight: bold;
}

#content h1 {
	margin-top: 0.25em;
	font-weight: bold;
}

#content h1 + .level2 {
	margin-top: 0;
}

#content h4 {
	font-weight: bold;
}

#content .level2 {
	margin-top: 2em;
}
